body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("https://cdn.pixabay.com/photo/2016/11/13/12/52/kuala-lumpur-1820944_1280.jpg");
    background-size: cover;
    background-position: center;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

.login__header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.login__header nav {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.login__header nav .login__header--logo {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.login__header nav .login__header--logo span {
    color: #F9A826;
}

.login__header nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    text-decoration: none;
}

.login__header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.login__header nav ul li a:hover {
    color: #F9A826;
    transition: 0.3s;
}

.form__container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.form__container span {
    color: #F9A826;
    -webkit-text-stroke: 1px  black;
}

form {
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin: 100px auto;
    z-index: 2;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

form h2 {
    -webkit-text-stroke: 1px black;
    color: white;
    font-size: 40px;
    text-align: center;
}

form input {
    width: 80%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    outline: 1px solid #ccc;
} 

form label {
    align-self: flex-start;
    margin-left: 10%;
    color: white;
    font-size: 20px;
}

form button {
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #45a049;
}

/* /* Mobile Design  */
@media (max-width: 768px) {
    .login__header nav ul {
        display: none;
    }

    .login__header nav {
        justify-content: center;
    }

    form {
        width: 300px;
    }
}