:root{
    --yellow: #F9A826;
    --purple: rgb(102, 51, 153);
    --background-color: #f4f4f4;
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

.landing__header {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    background: url('https://images.pexels.com/photos/17576852/pexels-photo-17576852.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.landing__header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.453);
    z-index: 1;
}

.landing__header--logo {
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    color: white;
    z-index: 3;
}

.landing__header a span {
    color: var(--yellow);
}

.landing__header nav {
    width: 90%;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.landing__header .landing__header--links {
    display: flex;
    gap: 30px;
    list-style: none;
    z-index: 3;
}

.landing__header .landing__header--links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.landing__header nav .landing__header--links li a:hover {
    color: var(--yellow);
    transition: 0.3s;
    cursor: pointer;
}

/* Landing Hero */

.landing__header--hero {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing__header--hero h1 {
    color: white;
    font-size: 250px;
    margin-top: 0;
    color: transparent;
    -webkit-text-stroke: 4px white;
    z-index: 2;
    text-align: center;
    text-shadow: 0px 0px 900px var(--yellow);
}

/* /* landing information * */
.landing__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px 0;
}

.landing__info--container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.landing__info--image {
    width: 30%;
}

.landing__info--image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: 2px solid black;
}

.landing__info--text {
    width: 55%;
    font-size: 20px;
    text-align: justify;
}

/* Gallery */
.landing__gallery{
    margin: 50px 0;
}

.landing__gallery h2 {
    text-align: center;
    font-size: 50px;
    -webkit-text-stroke: 2px black;
    text-shadow: 0px 0px 50px var(--yellow);
    color: transparent;
}

.swiper {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.swiper-pagination-bullet-active {
    background: var(--yellow);
}

/* Map and Video Styles */
.detail__map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.detail__map h2 {
    width: 100%;
    text-align: center;
    font-size: 50px;
    -webkit-text-stroke: 2px black;
    text-shadow: 0px 0px 50px var(--yellow);
    color: transparent;
}

.detail__map--container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail__map--video {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding: 50px;
}

.detail__map--video iframe {
    width: 100%;
    height: 400px;
    border: 3px solid black;
    }

#map {
    width: 100%;
    height: 400px;
    margin: 50px auto;
    border: 3px solid black;
}


/* /* Mobile Design  */
@media (max-width: 768px) {
    .landing__header nav {
        justify-content: center;
    }
    
    .landing__header .landing__header--links {
        display: none;
    }
    
    .landing__header--hero h1 {
        font-size: 90px;
        -webkit-text-stroke: 1px white;
        text-shadow: 0px 0px 50px var(--yellow);
    }
    
    .landing__info--image {
        width: 90%;
        margin-bottom: 40px;
    }
    
    .landing__info--text {
        width: 88%;
        font-size: 18px;
    }
    
    .landing__gallery h2 {
        font-size: 40px;
        -webkit-text-stroke: 1px black;
    }

    .detail__map--container, .detail__map--video {
        width: 90%;
        padding: 0;
    }

    .detail__map h2 {
        font-size: 40px;
        -webkit-text-stroke: 1px black;
    }
}