:root{
    --yellow: #F9A826;
    --purple: rgb(102, 51, 153);
    --background-color: #f4f4f4;
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

span {
    color: var(--yellow);
}

/* Header */

header {
    width: 100%;
    height: 35rem;
    padding: 30px 0 0 0;
    text-align: center;
    color: white;
    background: url('../Images/Bg.jpg') no-repeat center center/cover;
}

header .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .nav .logo {
    width: 40%;
    text-align: left;
    font-size: 25px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

header .nav .nav-links {
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

header .nav .nav-links li a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 1s;
}

header .nav .nav-links li a:hover {
    transition: 0.3s;
    color: var(--yellow);
}

/* Seccion principal del header */

.header__hero {
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    color: white;
}

.header__hero--text {
    width: 40%;
    height: 400px;
    display: flex;
    text-align: left;
    align-items: center;
}

.header__hero--text h1 {
    font-size: 60px;
    line-height: 1;
    margin: 0;
}

.header__hero--text p {
    font-size: 29px;
    margin: 20px 0 50px 0;
    font-weight: 700;
}

.header__hero--text a {
    text-decoration: none;
    color: white;
    background-color: var(--purple);
    padding: 10px 120px;
    border-radius: 20px;
    font-size: 20px;
    transition: 0.3s;
}

.header__hero--text a:hover {
    background-color: rgba(102, 51, 153, 0.611);
    transition: 0.3s;
}

.header__hero--image {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header__hero--image svg {
    width: 600px;
    height: 500px;
}

.header__hero--image img {
    margin: 0 auto;
    width:600px;
    height: 400px;
}

/* Primera seccion - Resumen profesional */

.description {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    color: black;
}

.description .description__text {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: 20px;
    line-height: 1.5;
    margin: 100px 0;
}

.description .description__text h3 {
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
    text-shadow: 0px 4px 9px var(--yellow);
}

.description .description__text p {
    margin-top: 20px;
    margin-bottom: 40px;
}

.description__text a {
    text-decoration: none;
    color: white;
    background-color: var(--purple);
    padding: 10px 80px;
    border-radius: 20px;
    font-size: 20px;
    transition: 0.3s;
}

.description__text a:hover {
    background-color: rgba(102, 51, 153, 0.611);
    transition: 0.3s;
}

.description .description__image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description .description__image svg {
    width: 450px;
    height: 450px;
}

/* Seccion de tecnologias */

.tech h3 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
    color: black;
    text-shadow: 0px 4px 9px var(--yellow);
}

.tech .card__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
}

.card { 
    width: 300px;
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px var(--purple);
}

.card__container .card:nth-child(even) {
    box-shadow: 0px 0px 20px 0px var(--yellow);
}

.card__link {
    display: block;
    padding: 30px 20px;
    /* background-color: ; */
    background: url("../Images/Bg.jpg") no-repeat center center/cover;
    overflow: hidden;
    position: relative;
}


.card__link:hover {
    color: #FFF;
}

.card__link:hover .card__background {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.card__title{
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    z-index: 2;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.card__title h5 {
    width: 100%;   
    font-size: inherit; 
}

.card__title p {
    font-size: 20px;
    font-weight: 500px;
    color: var(--yellow);
    transition: 1s;
}

.card__link:hover .card__title p {
    color: var(--purple);
    transition: 1ss;
}

.card__container .card:nth-child(even) .card__title p {
    color: var(--purple);
}

.card__container .card:nth-child(even) .card__link:hover .card__title p {
    color: var(--yellow);
}

.card__background {
    height: 128px;
    width: 128px;
    background-color: var(--yellow);
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.card__container .card:nth-child(even) .card__background {
    background-color: var(--purple);
}

/* Countries Cards */

.main div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main h2 {
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: black;
    text-shadow: 0px 4px 9px var(--yellow);
}

.countries {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.countries__card {
    width: 290px;
    height: 290px;
    padding: 20px;
    margin: 40px;
    display: flex;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    border: 10px solid var(--purple);
    border-radius: 20px;
    transition: 0.3s;
    background: black;
    box-shadow: 0px 0px 20px 0px var(--purple);
}

.countries__card:nth-child(even) {
    border: 10px solid var(--yellow);
    box-shadow: 0px 0px 20px 0px var(--yellow);
}

.countries__card:hover {
    box-shadow: 0px 0px 20px 0px var(--yellow);
    transition: 0.3s;
    border: 10px solid var(--yellow);
}

.countries__card:nth-child(even):hover {
    box-shadow: 0px 0px 20px 0px var(--purple);
    transition: 0.3s;
    border: 10px solid var(--purple);
}

.countries__card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.countries__card a {
    text-decoration: none;
    color: white;
    background-color: var(--purple);
    padding: 10px 80px;
    border-radius: 20px;
    font-size: 18px;
    transition: 0.3s;
    text-align: center;
}

.countries__card:nth-child(even) a {
    background-color: var(--yellow);
}

.countries__card:hover a {
    background-color: var(--yellow);
    transition: 0.3s;
}

.countries__card:nth-child(even):hover a {
    background-color: var(--purple);
    transition: 0.3s;
}

/* Seccion del detalle de cada paid */

.detail {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.detail__flag {
    width: 40%;
    height: auto;
}

.detail__flag img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 3px solid black;
}

.detail__text {
    width: 40%;
    padding: 50px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.5;
    color: black;
}

.detail__text h2 {
    font-size: 40px;
    color: var(--purple);
    text-shadow: 0px 4px 9px var(--yellow);
}

.detail__text p {
    margin: 20px 0 60px 0;
    text-align: justify;
}

.detail__text a {
    text-decoration: none;
    color: white;
    background-color: var(--purple);
    padding: 10px 80px;
    border-radius: 20px;
    font-size: 20px;
    transition: 0.3s;
}

.detail__text a:hover {
    background-color: rgba(102, 51, 153, 0.611);
    transition: 0.3s;
}

/* Seccion del mapa  */

.detail__map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.detail__map--container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail__map--video {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding: 50px;
}

.detail__map--video iframe {
    width: 100%;
    height: 400px;
    border: 3px solid black;
    }

#map {
    width: 100%;
    height: 400px;
    margin: 50px auto;
    border: 3px solid black;
}

/* seccion del proyectos */
.projects {
    width: 100%;
    color: black;
}

.projects h3 {
    text-align: center;
    font-size: 35px;
    color: black;
    text-shadow: 0px 4px 9px var(--yellow);
}

.projects__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projects__container .projects__card:nth-child(even) {
    box-shadow: 0px 0px 20px 0px var(--purple);
}

.projects__card {
    width: 350px;
    height: 510px;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px var(--yellow);
    margin: 50px;
}

.projects__card img{
    width: 100%;
    height: 250px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.projects__card--info {
    padding: 20px;
}

.projects__card--info h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

.projects__card--info p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 22px;
}

.projects__card--links {
    display: flex;
    justify-content: space-evenly;
}

.projects__card--links a {
    text-decoration: none;
    color: white;
    background-color: var(--yellow);
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    transition: 0.3s;
}

.projects__card:nth-child(even) .projects__card--links a {
    background-color: var(--purple);
}

.projects__card:nth-child(even) .projects__card--links a:hover {
    background-color: rgba(102, 51, 153, 0.611);
    transition: 0.3s;
}

.projects__card--links a:hover {
    background-color: rgba(249, 168, 38, 0.611);
    transition: 0.3s;
}

/* Seccion del Formulario */
.form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px 50px 50px;
}

#dataForm {
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 70%;
}

/* Etiquetas */
#dataForm label {
    font-weight: bold;
    margin-bottom: 6px;
    color: black;
}

/* Campos de entrada */
#dataForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s;
    font-size: 14px;
}

/* Efecto al enfocar inputs */
#dataForm input:focus {
    border-color: var(--yellow);
    outline: none;
    box-shadow: 0 0 5px var(--yellow);
}

/* Botón */
#dataForm button {
    width: 100%;
    padding: 12px;
    background: var(--yellow);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Efecto hover en el botón */
#dataForm button:hover {
    background: #f9a826be;
}
